{% include base_path %}

<meta charset="utf-8">

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">

<!-- Load fonts from the fonts directory -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/fonts.css">

<!-- Load fonts directly from the Google Fonts Library -->
<link href='//fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'/>
<!-- Tangerine font -->
<link href='https://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet'/>
    
<!-- Fonts from https://www.theleagueofmoveabletype.com/ -->
<link href='https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900' rel='stylesheet'/>
<link href='https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1' rel='stylesheet'/>
<link href='https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911' rel='stylesheet'/>
<link href='https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1' rel='stylesheet'/>
<link href='https://fonts.googleapis.com/css2?family=League+Script' rel='stylesheet'/>
<link href='https://fonts.googleapis.com/css2?family=Linden+Hill:ital@0;1' rel='stylesheet'/>
<link href='https://fonts.googleapis.com/css2?family=Prociono' rel='stylesheet'/>
<link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Calligraffitti" rel="stylesheet">
    
<!-- Indian Type Foundary's Kalam font -->
<link href='https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700' rel='stylesheet'/>


<meta http-equiv="cleartype" content="on">
